
@media @tablet-widths {
  .page-header {
    display: flex;
  }
  .page-header__logo {
    background: #000000 url("../img/bg-desktop-inner.jpg") no-repeat center;
  }
}

@media @desktop-widths {
  .page-header__logo {
    height: 649px;
  }
}