.reviews {
  width: 320px;
  margin: 0 auto;
  color: #000000;
  background-color: @bg-lightgrey;
}

.reviews__wrapper {
  height: 235px;
  padding-top: 29px;
  padding-bottom: 18px;
}

.reviews__list {
  width: 280px;
}

.reviews__title {
  margin: 0;
  margin-bottom: 28px;
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
}

.reviews__item {
  position: relative;
  margin: 0 20px 23px;
  padding-left: 68px;

  p {
    margin: 0;
  }
}

.reviews__author-name {
  display: block;
  margin-bottom: 12px;

  font-weight: bold;
  font-size: 24px;
  font-style: normal;
}

.reviews__author-foto {
  position: absolute;
  left: 0;
  top: 9px;
}

.reviews__toggles {
  bottom: 18px;
  background-color: @bg-lightgrey;

  label {
    border-color: #626261;
  }
}

#reviews-input-1:checked~ .reviews__toggles label[for="reviews-input-1"],
#reviews-input-2:checked~ .reviews__toggles label[for="reviews-input-2"],
#reviews-input-3:checked~ .reviews__toggles label[for="reviews-input-3"] {
  background: #353535;
}

#reviews-input-1:checked~ .reviews__list .slider__item:nth-child(1) {
  display: block;
}

#reviews-input-2:checked~ .reviews__list .slider__item:nth-child(2) {
  display: block;
}

#reviews-input-3:checked~ .reviews__list .slider__item:nth-child(3) {
  display: block;
}


@media (min-width: @tablet-width) {
  .reviews__wrapper {
    width: 640px;
    margin: 0 auto;
  }

  .reviews__list {
    width: 542px;
  }
}

@media (min-width: @desktop-width) {
  .reviews__wrapper {
    width: 960px;
  }

  .reviews__list {
    width: 818px;
  }
}
