.reviews {
  width: 320px;
  margin: 0 auto;
}

.reviews__list {
  width: 280px;
}

@media (min-width: @tablet-width) {
  .reviews__wrapper {
    width: 640px;
    margin: 0 auto;
  }

  .reviews__list {
    width: 542px;
  }
}

@media (min-width: @desktop-width) {
  .reviews__wrapper {
    width: 960px;
  }

  .reviews__list {
    width: 818px;
  }
}
