.reviews {
  position: relative;
  width: 320px;
  height: 470px;
  padding-top: 29px;
  padding-bottom: 18px;
  margin: 0 auto;
  color: #000000;
  background-color: @bg-lightgrey;
}

.reviews__list {
  width: 280px;
}

.reviews__title {
  margin: 0;
  margin-bottom: 28px;
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
}

.reviews__item {
  position: relative;
  margin-left: 30px;

  p {
    margin: 0;
  }
}

.reviews__author-name {
  display: block;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 24px;
  font-style: normal;
}

.reviews__author-photo img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.reviews__toggles {
  top: 360px;
  bottom: 18px;
  background-color: @bg-lightgrey;

  label {
    border-color: #626261;
  }
}

#reviews-input-1:checked~ .reviews__toggles label[for="reviews-input-1"],
#reviews-input-2:checked~ .reviews__toggles label[for="reviews-input-2"],
#reviews-input-3:checked~ .reviews__toggles label[for="reviews-input-3"] {
  background: #353535;
}

#reviews-input-1:checked~ .reviews__list .slider__item:nth-child(1) {
  display: block;
}

#reviews-input-2:checked~ .reviews__list .slider__item:nth-child(2) {
  display: block;
}

#reviews-input-3:checked~ .reviews__list .slider__item:nth-child(3) {
  display: block;
}


@media (max-width: @mobile-width-only) {
  .reviews {
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 32px;
      background-color: @bg-darkgrey;
      clip-path: polygon(50% 100%, 0 0, 100% 0);
      transform: rotate(180deg);
    }
  }

  .reviews__write,
  .reviews__prev,
  .reviews__next {
    display: none;
  }

  .reviews__toggles {
    left: 0;
    right: 0;
  }
}

@media (min-width: @tablet-width) {
  .reviews {
    width: 640px;
    height: 410px;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 71px;
  }

  .reviews__toggles {
    left:270px;
    top: 350px;
  }

  .reviews__author-photo img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
  }

  .reviews__list {
    width: 100%;
  }

}

@media (min-width: @desktop-width) {
  .reviews {
    width: 960px;
  }

  .reviews__wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .reviews__write {
    position: absolute;
    right: 0;
    white-space: nowrap;
  }
  .reviews__author-photo img {
    width: 150px;
    height: 150px;
  }

  .slider__toggle {
    width: 20px;
    height: 20px;
    border: 2px solid #cccccc;
  }

  .reviews__toggles {
    top: 330px;
    right: 250px;
  }

}
